{% extends '@component-blocks/component-block.twig' %}
{% set componentName = 'introduction' %}
{% block content %}
    <div class="container">
        {{ introduction|render_dto }}
    </div>
{% endblock %}

