{% extends '@component-blocks/component-block.twig' %}
{% set componentName = 'header' %}
{% block content %}
  <div class="cb-{{ componentName }}__logo">
    {{ logo|render_dto }}
  </div>
  <div class="cb-{{ componentName }}__right">
    {{ menu|render_dto }}
  </div>
{% endblock %}
