{% extends 'node.html.twig' %}

{% block content %}

  {# Hero #}
  <div class="container">
    {{ content.field_hero }}
  </div>

  {# Content blocks #}
  <div class="container">
    {{ content.field_paragraphs }}
  </div>

{% endblock %}
