{% extends "@base/twigs/page.twig" %}

{% block html %}

  <div{% if pageName %} class="{{ 'p-' ~ pageName }}{{ pageModifiers ? ' ' ~ 'p-' ~ pageName ~ '--' ~ pageModifiers|join(' ' ~ 'p-' ~ pageName ~ '--') }}"{% endif %}>

    {% block header %}
      {{ header|render_dto }}
    {% endblock %}

    {% block page %}
      {% block content %}
      {% endblock %}
    {% endblock %}

    {% block footer %}
      {{ footer|render_dto }}
    {% endblock %}

  </div>

{% endblock %}
