.cb-footer {
  display: grid;
  height: 200px;
  background-color: $green-l;
  border-top: 20px solid $green-d;
  font-family: 'Poppins', sans-serif;
  &__rss {
    grid-column: 1;
    display: grid;
    margin: auto;
  }
  &__logo {
    grid-column: 2;
    margin: auto;
    img {
      max-height: 150px;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    margin: auto;
    grid-column: 3;

    a {
      padding: 10px;
      color: $green-d;
      text-decoration: none;
      transition: all .25s ease-in-out;
      &:hover {
        transform: scale(1.3);
        transform-origin: left;
        text-decoration: underline;
      }
    }
  }
}
.icon {
  padding: 10px;
  img{
    max-height: 40px;
    transition: all .25s ease-in-out;
    &:hover {
      transform: scale(1.5);
    }
  }
}
.icon-1 {
  grid-column: 1;
  grid-row: 1;
}
.icon-2 {
  grid-column: 2;
  grid-row: 1;
}
.icon-3 {
  grid-column: 3;
  grid-row: 1;
}
.icon-4 {
  grid-column: 4;
  grid-row: 1;
}
.icon-5 {
  grid-column: 1;
  grid-row: 2;
}
.icon-6 {
  grid-column: 2;
  grid-row: 2;
}
.icon-7 {
  grid-column: 3;
  grid-row: 2;
}
.icon-8 {
  grid-column: 4;
  grid-row: 2;
}
