{% extends '@component-blocks/component-block.twig' %}
{% set componentName = 'three-columns' %}
{% block content %}
  <div class="cb-{{ componentName }}__snippet_area">
  {% for item in snippets %}
    {{ item|render_dto }}
  {% endfor %}
  </div>
  <div class="cb-{{ componentName }}__button_area">
    {{ button|render_dto }}
  </div>
{% endblock %}
