.cb-three-columns {
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;

  &__title {
    color: $green-d;
    font-size: 2em;
    display: flex;
    align-items: center;

    &:before,
    &:after {
      content: '';
      height: 3px;
      background-color: $green-d;
    }

    &:before {
      flex: 0 0 30px; // Ancho de la línea corta antes del título
      margin-right: 5px;
    }

    &:after {
      flex-grow: 1; // La línea larga ocupa el espacio restante
      margin-left: 5px; // Ajuste opcional para el espacio entre la línea larga y el texto
    }
  }

  &__snippet_area {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 50px;
  }

  &__button_area {
    display: flex;
    justify-content: center;
  }
}
