{% block content %}
  {{ attach_library('pizza_dough_calculator/pizza_dough_calculator') }}
<div class="calculadora">
  <h1>{{ title }}</h1>

  <label for="harina">Harina (g):</label>
  <input type="number" id="harina" value="0"/>

  <h2>Cantidades Necesarias:</h2>

  <p>Agua: <span id="aguaRecalculada">0</span> g</p>
  <p>Sal: <span id="salRecalculada">0</span> g</p>
  <p>Levadura fresca: <span id="levaduraRecalculada">0</span> g / Seca: <span id="levaduraSecaRecalculada">0</span> g</p>

</div>

{% endblock %}
